ion-text h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
    font-size: 50px;
}

ion-card {
    margin-top: 120px;
    margin-bottom: 80px;
    
}

.icon {
    font-size: 50px;
    color: "primary";
}

.logo-text {
    font-size: 50px;
}

.logo-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


