<ion-content>
  <div class="flex-center">

    <div class="logo-flex">
      <ion-icon class="icon" name="chatbubbles" color="primary"></ion-icon>
      <ion-label>
        <span class="logo-text">Spamr</span>
      </ion-label>
    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button size="full" (click)="login()">Login</ion-button>
        <ion-text class="flex-center">Or</ion-text>
        <ion-button fill="clear" size="full" (click)="register()">Create Account</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>